.botonEliminar:active {
    background-color: rgb(0, 0, 0); /* Change the color to your desired color */
    transform: scale(1);
}
.botonEliminar{
    background-color: #2d5588ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}