/* PrivacyPolicy.css */
.privacy-policy {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .privacy-policy h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .privacy-policy h2 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .privacy-policy p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .privacy-policy ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .privacy-policy li {
    margin-bottom: 5px;
  }
  